.col-lg-7 {
position: relative;
  left:50%; 
    transform:translateX(-50%);
}

#headerone {
    font-weight: 500;
    font-size: 4rem;
}

#headertwo {
    font-weight: 300;
    font-style: italic;
    font-size: 2.75rem;
}